*{margin:0;
    padding: 0;}
body{
    font-family: 'Ysabeau', sans-serif;
    background-color: #b1f5dc;
}
h1{

    font-size: 3rem;
}
.trafffic_light{
    margin: 0px;
}
.field{
    display: block;
    font-family: 'Ysabeau', sans-serif;
    padding: 10px 30px;
    width: 400px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    opacity: 0.9;
    border-style: none;
    
}
.field:hover{
    display: block;
    font-family: 'Ysabeau', sans-serif;
    padding: 10px 30px;
    width: 400px;
    height: 24px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    opacity: 0.5;
    border-style: none;
}
.field:active{
    display: block;
    font-family: 'Ysabeau', sans-serif;
    padding: 10px 30px;
    width: 400px;
    height: 24px;
    border-width: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    opacity: 1;
}
#complain{
    display: block;
    font-family: 'Ysabeau', sans-serif;
    padding: 10px 30px;
    height: 100px;
    min-width:400px;
    max-width: 400px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    opacity: 0.9;
}
#complain:hover{
    display: block;
    font-family: 'Ysabeau', sans-serif;
    padding: 10px 30px;
    height: 100px;
    min-width:400px;
    max-width: 400px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    border-style: dotted;
    opacity: 0.5;
}
#submit{
    display: block;
    font-family: 'Ysabeau', sans-serif;
    margin-top: 50px;
    font-size: 17px;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border-style: none;
    cursor: pointer;
}
#title{
    padding-top: 20px;
    padding-bottom: 20px;
}
.abt{
    text-align: right;
    background-color: white;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-top: 0px;
    font-size: 25px;
}